@import "../../variables.scss";

.c-tabs-list{
  list-style: none;
  font-size: 16px;
  font-weight: 600;

  li{
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-bottom: 4px;

    &:not(:last-child){
      margin-right: 28px;
    }

    &.active{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        bottom: -4px;
        height: 5px;
        width: 100%;
        background-color: scotch-color('primary');
        border-radius: 22px;
      }
    }
  }
}
