/***** Grid Container ****/

$widthXL: 1272px;


/**** Colors *****/

$main-colors: (
  'primary': #ED1C24,
  'accent': #CCCCCC,
  'secondary': #2F2F2F,
  'dark': #000000,
  'white': #FFF,
  'dark-text': #000000,
  'light': #FBFBFB,
  'error': #F90F0F
);


@function scotch-color($key: 'primary') {
  @return map-get($main-colors, $key);
}


/**** Buttons ****/

// Primary button
$btnPrimaryBg: scotch-color('primary');
$btnPrimaryBgHover: #D2040C;
$btnPrimaryText: scotch-color('white');

// Secondary button
$btnSecondaryBg: scotch-color('white');
$btnSecondaryBorder: scotch-color('primary');
$btnSecondaryBgHover: #FF8383;
$btnSecondaryText: scotch-color('dark-text');
$btnSecondaryHoverText: scotch-color('white');

$btnArrowWhite: url("/img/svg/arrow-right.svg") 0 0 no-repeat;
$btnArrowRed: url("/img/svg/arrow-right-red.svg") 0 0 no-repeat;

$breakpoints: (
  xl: 1279px,
  lg: 1024px,
  md: 991px,
  sm: 767px,
  xs: 576px
);

@function breakpoints($key: xl) {
  @return map-get($breakpoints, $key);
}

@mixin media ($sizeName: 'md') {
  $size: breakpoints(md);

  @if($sizeName == 'xl') {
    $size: breakpoints(xl);
  } @else if ($sizeName == 'lg') {
    $size: breakpoints(lg);
  } @else if ($sizeName == 'md') {
    $size: breakpoints(md);
  } @else if ($sizeName == 'sm') {
    $size: breakpoints(sm);
  } @else if ($sizeName == 'xs'){
    $size: breakpoints(xs);
  } @else {
    $size: $sizeName + 'px';
  }

  @media (max-width: $size) {
    @content
  }
}

/**** Text *****/
$font: 'Open Sans', sans-serif;
$fontTitles: 'Montserrat', sans-serif;
$fontSize: 14px;

